{% extends 'myapp/master.html' %} {% block content %}

<div class="row">
    <h3 class="sub-header"> List of Agencies
            <span class="pull-right">
                 <a href="{% url 'feed_list' %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back to Feed List
                </a>
            </span>
        </h3>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Agency Name</th>
                <th>Phone #</th>
                <th>URL</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for agency in agency_list %}
            <tr>
                <td>{{ agency.id }}</td>
                <td><a href="#" class="editable" id="name" data-type="text" data-pk="{{ agency.id }}" data-url="{% url 'update_agency_ajax' %}"
                                       data-title="Enter Agency Name">{{ agency.name }}</a></td>
                <td><a href="#" class="editable" id="phone" data-type="text" data-pk="{{ agency.id }}" data-url="{% url 'update_agency_ajax' %}"
                                       data-title="Enter Agency Phone Number">{{ agency.phone }}</a></td>
                <td><a href="#" class="editable" id="url" data-type="text" data-pk="{{ agency.id }}" data-url="{% url 'update_agency_ajax' %}"
                                       data-title="Enter Agency URL">{{ agency.url }}</a></td>
                <td>
                    <a href="{% url 'route_list' feed_id=feed_id agency_id=agency.id %}" class="btn btn-primary btn-sm">View Routes
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'myapp/fragments/pagination.html' %}
</div>
{% endblock %}