{% extends 'myapp/master.html' %} {% block content %}

<div class="row">
    <div id="alert"></div>
    <h3 class="sub-header"> GTFS Feeds
            <span class="pull-right">
                <a href="{% url 'new_feed' %}" class="btn btn-success">
                    Upload GTFS Feed
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            </span>
        </h3>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Feed Name</th>
                <th>Publisher Name</th>
                <th>Publisher URL</th>
                <th>Valid Until</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for feed in feed_list %}
            <tr>
                <td>{{ feed.id }}</td>

                <td> <a href="#" class="editable" id="name" data-type="text" data-pk="{{ feed.id }}" data-url="{% url 'update_feed_ajax' %}"
                                       data-title="Enter Feed Name">{{ feed.name }}</a></td>
                <td> <a href="#" class="editable" id="publisher_name" data-type="text" data-pk="{{ feed.id }}" data-url="{% url 'update_feed_ajax' %}"
                                       data-title="Enter Publisher Name">{{ feed.feedinfo_set.get.publisher_name }}</a></td>
                <td> <a href="#" class="editable" id="publisher_url" data-type="text" data-pk="{{ feed.id }}" data-url="{% url 'update_feed_ajax' %}"
                                       data-title="Enter Publisher URL">{{ feed.feedinfo_set.get.publisher_url }}</a></td>
                <td> <a href="#" class="editable" id="end_date" data-type="date"  data-viewformat="yyyy-mm-dd" data-pk="{{ feed.id }}" data-url="{% url 'update_feed_ajax' %}"
                                       data-title="Enter Feed Expirty Date" data-placement="bottom">{{ feed.feedinfo_set.get.end_date|date:"Y-m-d" }}</a></td>
                <td>
                    <a href="{% url 'agency_list' feed_id=feed.id %}" class="btn btn-primary btn-sm">View Agencies
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </a>
                    <a href="{% url 'delete_feed_ajax'%}" data-pk="{{ feed.id }}" data-feed-name="{{ feed.name }}" class="btn btn-danger btn-sm delete-trip">Delete
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'myapp/fragments/pagination.html' %}
</div>
{% endblock %} {% block js %} {% load staticfiles %}

<script src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var table_row = null;
        $('a.delete-trip').on('click', function(e) {
            e.preventDefault();
            table_row = $(this).parent().parent();

            var feed_name = $(this).data('feed-name')
            var feed_pk = $(this).data('pk')
            var message = 'Do you want to delete the feed <strong>"' + feed_name + '"</strong> ? <br/>';
            message += 'Choosing "OK" will permanently all routes and associated data';
            bootbox.confirm(message, function(response) {
                if (response) {
                    var params = {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        pk: feed_pk
                    }
                    delete_trip('{% url 'delete_feed_ajax' %}', params);
                }
            });
        });

        $(document).on('success', function() {
            table_row.remove();
        });
    });
</script>
{% endblock %}