{% extends 'myapp/master.html' %}

{% block css %}
{% endblock %}

{% block content %}
     <div class="row">
        <h3 class="sub-header"> New Trip Information
            <span class="pull-right">
                <a href="{% url 'route_detail' feed_id=feed_id agency_id=agency_id pk=route_id%}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back to Route
                </a>
            </span>
        </h3>
    </div>

    {% if error_message %}
            <div class="alert-message alert {{ alert_type }} alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            {{ error_message }}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="headsign">Headsign</label>
            <select class="form-control" id="headsign" name="headsign">
                {% for headsign_option in headsign_options %}
                    <option value="{{ headsign_option }}">{{ headsign_option }}</option>
                {% endfor %}
            </select>
        </div>

         <div class="form-group">
            <label for="service-id">Service</label>
            <select class="form-control" id="service-id" name="service-id">
                {% for service_time in service_times %}
                    <option value="{{ service_time.id }}">{{ service_time.service_id }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inbound">Inbound?</label>
            <select class="form-control" id="inbound" name="inbound">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </div>

        <div class="form-group">
            <label for="origin">Origin</label>
            <select class="form-control" id="origin" name="origin">
                {% include 'myapp/fragments/numeric-list-1-9.html' %}
            </select>
        </div>

         <div class="form-group">
            <label for="route-variation">Route Variation</label>
            <select class="form-control" id="route-variation" name="route-variation">
                {% include 'myapp/fragments/numeric-list-1-9.html' %}
            </select>
        </div>

        <fieldset>
            Files to upload
            <div class="form-group">
                <label for="stops-file">Stop File (.csv)</label>
                <input name="stops-file" type="file" accept="text/csv" required>
                <p class="help-block">
                    **Before uploading this file, ensure that:
                    <ol>
                        <li>You add stop names under a new column <strong>stop_name</strong></li>
                        <li>You add a new column <strong>designation</strong> with a value of 1 for official stops and 0 otherwise</li>
                        <li>You add a new column <strong>location_type</strong> with a value of 1 for stations</li>

                    </ol>
                    Critical columns in this file are: <strong>stop_name, lat, lon, stop_sequence</strong>
                </p>
                <p class="help-block">
                    <div id="defaults-change-alert" class="alert alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        This process assumes you used the <a href="https://github.com/conveyal/transit-wand">Transitwand Mobile App</a>
                        to trace your route and downloaded the files from <a href="http://transitwand.com">TransitWand</a>
                   </div>
                </p>
            </div>
            <div class="form-group">
                <label for="shape-file">Shape File (.shp)</label>
                <input name="shape-file" type="file" accept="*.shp" required>
            </div>
            <div class="form-group">
                <label for="shape-file-dbf">Shape File Database File (.dbf)</label>
                <input name="shape-file-dbf" type="file" accept="*.dbf" required>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}