{% extends 'myapp/master.html' %}

{% block content %}
    {% include 'myapp/fragments/search.html' %}

    <div class="row">
        <div id="alert"></div>
        <h3 class="sub-header"> List of Routes
            <span class="pull-right">
                <a href="{% url 'agency_list' feed_id=feed_id %}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back to Agency List
                </a>
                <a href="{% url 'new_route' feed_id=feed_id agency_id=agency_id %}" class="btn btn-success">
                    New Route
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
                <a href="{% url 'export_feed' feed_id=feed_id %}" class="btn btn-info">
                    Export
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </a>
            </span>
        </h3>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Route #</th>
                <th>Route Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for route in route_list.all %}
                <tr>
                    <td>{{ route.route_id }}</td>
                    <td> <a href="#" class="editable" id="short_name" data-type="text" data-pk="{{ route.id }}" data-url="{% url 'update_route_ajax' %}"
                                       data-title="Enter Route Number">{{ route.short_name }}</a>
                       </td>
                    <td><a href="#" class="editable" id="desc" data-type="text" data-pk="{{ route.id }}" data-url="{% url 'update_route_ajax' %}"
                                       data-title="Enter Route Description">{{ route.desc }}</a></td>
                    <td>
                        <a href="{% url 'route_detail' feed_id=feed_id agency_id=agency_id pk=route.id %}"
                           class="btn btn-primary btn-sm">Route Detail
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'delete_route_ajax'%}" data-pk="{{ route.id }}" data-desc="{{ route.desc }}"
                           class="btn btn-danger btn-sm delete-route">Delete
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'myapp/fragments/pagination.html' %}
    </div>

{% endblock %}

{% block js %}
    {% load staticfiles %}

    <script src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var table_row = null;
            $('a.delete-route').on('click', function(e){
                table_row = $(this).parent().parent();
                e.preventDefault();
                var route_name = $(this).data('desc')
                var route_pk = $(this).data('pk')
                bootbox.confirm('Do you want to delete route <strong>"' + route_name + '"</strong> ?', function(response){
                   if(response){
                       var params = {
                           csrfmiddlewaretoken: '{{ csrf_token }}',
                           pk:  route_pk
                       }
                       delete_route('{% url 'delete_route_ajax' %}', params);
                   }
                });
            });

            $(document).on('success', function(){
                table_row.remove();
            });
        });

    </script>
{% endblock %}