{% extends 'myapp/master.html' %}

{% block content %}
    <div class="row">
        <div id="alert"></div>
        <h3 class="sub-header">Route {{ route.short_name }} Trips : {{ route.desc }}
            <span class="pull-right">
                <a href="{% url 'route_list' feed_id=feed_id agency_id=agency_id %}"
                   class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back to Route List
                </a>
                <a href="{% url 'new_trip' feed_id=feed_id agency_id=agency_id route_id=route_id %}"
                   class="btn btn-success">
                    New Trip
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </a>
            </span>
        </h3>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Trip #</th>
                <th>Destination</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for trip in route.trip_set.all %}
                <tr>
                    <td>{{ trip.trip_id }}</td>
                    <td> <a href="#" class="{{user.is_staff|yesno:"editable,"}}" id="headsign" data-type="text" data-pk="{{ trip.id }}" data-url="{% url 'update_trip_ajax' %}"
                                       data-title="Enter Destination"> <span>{{ trip.headsign }}</span></a></td>
                    <td>
                        <a href="{% url 'trip_detail' feed_id=feed_id agency_id=agency_id route_id=route.id pk=trip.id %}"
                           class="btn btn-primary btn-sm">Trip Detail
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'delete_trip_ajax'%}" data-pk="{{ trip.id }}" data-headsign="{{ trip.headsign }}"
                           class="btn btn-danger btn-sm delete-trip {{user.is_staff|yesno:",disabled"}}">Delete
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'myapp/fragments/pagination.html' %}
    </div>
{% endblock %}

{% block js %}
    {% load staticfiles %}

    <script src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var table_row = null;
            $('a.delete-trip').on('click', function(e){
                e.preventDefault();
                table_row = $(this).parent().parent();

                var trip_name = $(this).data('headsign')
                var trip_pk = $(this).data('pk')
                var message = 'Do you want to delete route <strong>"' + trip_name + '"</strong> ? <br/>';
                    message += 'Choosing "OK" will permanently the trip and  associated stops';
                bootbox.confirm(message, function(response){
                   if(response){
                       var params = {
                           csrfmiddlewaretoken: '{{ csrf_token }}',
                           pk:  trip_pk
                       }
                       delete_trip('{% url 'delete_trip_ajax' %}', params);
                   }
                });
            });

            $(document).on('success', function(){
                table_row.remove();
            });
        });

    </script>
{% endblock %}