{% extends 'myapp/master.html' %}

{% block nav-view-routes %} class="active" {% endblock %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'lrm-mapzen/leaflet.routing.mapzen.css' %}">

    <style type="text/css">
        #map {
            height: 800px;
            width: 100%;
            position: absolute;
        }

        #inline-map {
            height: 400px;
            display: block;
        }
    </style>
{% endblock %}

{% block js %}
    {% load staticfiles %}
    <script src="{% static 'js/sortable.min.js' %}"></script>
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'tangram/tangram.min.js' %}"></script>
    <script src="{% static 'lrm/dist/leaflet-routing-machine.min.js' %}"></script>
    <script src="{% static 'lrm-mapzen/lrm-mapzen.min.js' %}"></script>
    <script src="{% static 'leaflet-wicket/wicket.js' %}"></script>
    <script src="{% static 'leaflet-wicket/wicket-leaflet.js' %}"></script>

    <script>
        $(document).ready(function () {
            var wkt = new Wkt.Wkt();
            wkt.read('{{ trip.geometry.wkt }}');

            var map = L.map('map');
            var layer = Tangram.leafletLayer({
                scene: 'https://raw.githubusercontent.com/tangrams/cinnabar-style/gh-pages/cinnabar-style.yaml',
                attribution: '<a href="https://mapzen.com/tangram" target="_blank">Tangram</a> | \
                              <a href="http://www.openstreetmap.org/about" target="_blank">&copy; OSM contributors | \
                              <a href="https://mapzen.com/" target="_blank">Mapzen</a>',
            });
            layer.addTo(map);
            var wkt_object = wkt.toObject();


            wkt_object.addTo(map);

            map.fitBounds(wkt_object.getBounds());

            var waypoints = [];

            {% for stop_time in trip.stoptime_set.all|dictsort:'stop_sequence' %}
                waypoints.push({
                    latLng: L.latLng({{ stop_time.stop.point.y }}, {{ stop_time.stop.point.x }}),
                    name: '{{ stop_time.stop.name }}',
                    stop_id: {{ stop_time.stop.id }}
                });
            {% endfor %}

            //waypoints.reverse();

            var routing_control = L.Routing.control({
                waypoints: waypoints,
                router: L.Routing.mapzen('valhalla-SdWQH9o', 'bus'),
                formatter: new L.Routing.Mapzen.Formatter(),
                summaryTemplate: '<div class="start">{name}</div><div class="info {transitmode}">{distance}, {time}</div>',
                routeWhileDragging: false,
                lineOptions: {
                    styles: [{color: 'white', opacity: 0.8, weight: 12},
                        {color: '#2676C6', opacity: 1, weight: 6}
                    ]
                },
                /*createMarker: function (item, waypoint, n) {
                 let marker = L.marker(waypoint.latLng);

                 marker.bindPopup('<p>' + waypoint.name + '</p>');
                 return marker;
                 },*/
            });
            routing_control.addTo(map)
            routing_control.on('routeselected', function (event) {
                let route = event.route;
                let hidden = $('<input>');
                hidden.attr('type', 'hidden')
                        .attr('name', 'route_shape')
                        .attr('value', JSON.stringify(route.coordinates));

                $('#current-stops form').append(hidden);
            });


            $('form.form-inline li > a.btn').on('click', function (e) {
                let stop_id = $(this).parent().find('input:hidden[name=stop_id]');
            });


            sortable = Sortable.create(
                    $('#current-stops  ul').get(0),
                    {
                        onEnd: function (event) {
                            console.log(event.oldIndex, event.newIndex);
                            let tmp = waypoints[event.oldIndex];
                            let index = event.oldIndex;

                            if (event.oldIndex < event.newIndex) {
                                while (index < event.newIndex) {
                                    waypoints[index] = waypoints[index + 1];
                                    index = index + 1
                                }
                            } else {
                                while (index >= 0 && index > event.newIndex) {
                                    waypoints[index] = waypoints[index - 1];
                                    index = index - 1
                                }
                            }

                            waypoints[event.newIndex] = tmp;
                            console.log(waypoints);
                        }
                    }
            );

            var inline_map = L.map('inline-map');
            var popup = L.popup();
            var stop_marker = L.marker();
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(inline_map);

            inline_map.on('click', function (event) {
                if (!$('#stop-name').val().trim()) {
                    alert('Enter A Stop name');
                } else {
                    popup
                            .setLatLng(event.latlng)
                            .setContent("You added '" + $('#stop-name').val().trim() + "' on the map at " + event.latlng.toString());

                    stop_marker.setLatLng(event.latlng);
                    stop_marker.addTo(inline_map);
                    stop_marker.bindPopup(popup);
                }

            });

            $('#stop-modal').on('show.bs.modal', function (event) {
                inline_map.invalidateSize.bind(inline_map);
                inline_map.fitBounds(wkt_object.getBounds());
                inline_map.setZoom(14);
            });


            $('button.update-map').on('click', function (e) {
                routing_control.setWaypoints(waypoints);
                console.log("Done");
            });


            function populate_stops(data, list_element) {
                let request = $.ajax({
                    url: '{% url 'get_stop_list_ajax' %}',
                    method: 'GET',
                    data: data,
                    dataType: 'json'
                });

                request.done(function (result) {
                    let stops_list = $(list_element);
                    stops_list.html('');
                    let option = $('<option>');

                    option.html('--');
                    option.attr('value', '');
                    stops_list.append(option);
                    $.each(result, function (idx, item) {
                        let option = $('<option>');
                        option.html(item.fields.name);
                        option.attr('value', item.pk);
                        let point = wkt.read(item.fields.point.replace(/SRID=4326;/g, ''));
                        $(option).data('lat', point.components[0].y);
                        $(option).data('lng', point.components[0].x);
                        stops_list.append(option);
                    });
                });

                request.fail(function (jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });

            }

            $('#update-stop-list').on('click', function (e) {
                let data = {
                    inbound_status: $('#stop-type').val(),
                    corridor: $('input:hidden[name=corridor]').val()
                }

                populate_stops(data, '#parent-stop');
            });


            $('#stop-form').on('submit', function (event) {
                event.preventDefault();

                let stop_name = $('#stop-name').val().trim();

                if (!stop_name) {
                    alert('Stop name cannot be empty');
                    return false;
                }

                if (!stop_marker.getLatLng()) {
                    alert('You need to select a stop location on the map');
                    return false;
                }

                let stop_point = wkt.fromObject(stop_marker);

                let data = {
                    stop_id: '{{ corridor }}' + $('#stop-designation').val() + $('#stop-type').val() +_.join(_.shuffle($('#stop-name').val().replace(/ /g, '')),'').substr(0, 3),
                    name: $('#stop-name').val().trim(),
                    point: stop_point.write(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    feed_id: {{ feed_id }}
                };

                let request = $.ajax({
                    url: '{% url 'add_stop_ajax' %}',
                    method: 'POST',
                    data: data,
                });

                request.done(function (result) {
                    result = $.parseJSON(result);
                    console.log(result);

                    // Add To Waypoints array
                    waypoints.push({
                        latLng: L.latLng(result.lat, result.lng),
                        name: result.name,
                        stop_id: result.stop_id
                    });

                    // Add to stops list on the view
                    let list = $('#current-stops form > ul')
                    let item = $('<li>');
                    let hidden = $('<input>');
                    item.html(result.name);
                    hidden.attr('type', 'hidden')
                            .attr('name', 'stop_id')
                            .attr('value', result.stop_id);
                    item.append(hidden);
                    let span = $('<span>');
                    span.attr('aria-hidden', 'true').html('&times');
                    let button = $('<button>');
                    button.attr('type', 'button').addClass('close').attr('aria-label', 'Close').append(span);
                    item.append(button);

                    list.append(item);


                    alert("Stop successfully saved");
                    $('#stop-modal').modal('hide');

                });

                request.fail(function (jqXHR, textStatus) {
                    alert("Request failed: " + textStatus);
                });
            });

            $('#save-stop').on('click', function () {
                $('#stop-form').submit();
            });

            $('button.close').on('click', function (event) {
                let parent = $(this).parent();
                let stop_id = parent.find('input:hidden[name=stop_id]').val();
                if (stop_id) {
                    let index = $('button.close').index($(this)) - 1;
                    waypoints.splice(index, 1);
                    parent.parent().remove();
                }
                event.preventDefault();
            });

            $('.populate-stop').on('click', function (event) {
                let data = {
                    inbound_status: $(this).data('inbound'),
                    corridor: $('input:hidden[name=corridor]').val()
                }
                populate_stops(data, '#stops');
            });

            $('#stops').on('change', function (event) {

                let stop = $('#stops :selected');

                waypoints.push({
                    latLng: L.latLng(stop.lat, stop.lng),
                    name: result.name,
                    stop_id: stop.stop_id
                });


                 // Add to stops list on the view
                    let list = $('#current-stops form > ul')
                    let item = $('<li>');
                    let hidden = $('<input>');
                    item.html(stop.html());
                    hidden.attr('type', 'hidden')
                            .attr('name', 'stop_id')
                            .attr('value', stop.val());
                    item.append(hidden);
                    let span = $('<span>');
                    span.attr('aria-hidden', 'true').html('&times');
                    let button = $('<button>');
                    button.attr('type', 'button').addClass('close').attr('aria-label', 'Close').append(span);
                    item.append(button);

                    list.append(item);

            });

        });
    </script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="modal fade" id="stop-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-label">Add Stop</h4>
                    </div>
                    <div class="modal-body">
                        <form id="stop-form">
                            <div class="form-group">
                                <label for="stop-name" class="control-label">Name:</label>
                                <input type="text" class="form-control" id="stop-name" name="stop-name" required>
                            </div>
                            <div class="form-group">
                                <label for="stop-type" class="control-label">Stop Type:</label>
                                <select class="form-control" id="stop-type" name="stop-type">
                                    <option value="1">Inbound</option>
                                    <option value="0">Outbound</option>
                                </select>
                                <button type="button" class="btn btn-primary" id="update-stop-list">Update Stop List
                                </button>
                            </div>
                            <div class="form-group">
                                <label for="stop-designation" class="control-label">Designation:</label>
                                <select class="form-control" id="stop-designation" name="stop-designation">
                                    <option value="1">Designated</option>
                                    <option value="0">Undesignated</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="parent-stop" class="control-label">Parent Stop:</label>
                                <select class="form-control" id="parent-stop" name="parent-stop">
                                    <option value="">--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="lat" id="stop-latitude">
                                <input type="hidden" name="lon" id="stop-longitude">
                                <input type="hidden" name="corridor" value="{{ corridor }}">
                            </div>
                            <div id="inline-map">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-stop">Save Stop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="map-container" class="col-sm-7 col-md-8">
            <h3>Route: {{ trip.route.desc }} | Destination: {{ trip.headsign }}
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                        data-target="#stop-modal">Add Stop
                </button>

            </h3>

            <div id="map">

            </div>
        </div>


        <div id="current-stops" class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1">
            <div class="row" id="current-stops">
                <h3>Current Stops </h3>
                <form method="post">
                    <ul>
                        {% for stop_time in trip.stoptime_set.all|dictsort:'stop_sequence' %}
                            <li>
                                <div class="form-group">
                                    {{ stop_time.stop.name }}
                                    <input type="hidden" name="stop_id" value="{{ stop_time.stop.id }}">

                                    <button type="button" class="close" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                            </li>
                        {% endfor %}
                        {% csrf_token %}
                    </ul>
                    <button type="submit" class="btn btn-success">Save Stops&nbsp;<i
                            class="glyphicon glyphicon-plus"></i></button>
                    <button type="button" class="btn btn-primary update-map"> Update Map&nbsp;<i
                            class="glyphicon glyphicon-refresh"></i></button>
                </form>
            </div>
            <div class="row">
                <h4>Select Another Stop </h4>
                <button type="button" class="btn btn-info populate-stop" data-inbound="1">Populate Inbound Stops&nbsp;<i
                        class="glyphicon glyphicon-arrow-down"></i></button>
                <button type="button" class="btn btn-info populate-stop" data-inbound="0">Populate Outbound
                    Stops&nbsp;<i class="glyphicon glyphicon-arrow-up"></i></button>
                <select id="stops">
                    <option>--</option>
                </select>

            </div>
        </div>
    </div>



{% endblock %}