{% extends 'myapp/master.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">
    <link rel="stylesheet" href="{% static 'css/leaflet.draw.css' %}">



    <style type="text/css">
        #map {
            height: 800px;
            width: 100%;
            position: absolute;
        }

        #inline-map {
            height: 400px;
            display: block;
        }
    </style>
{% endblock %}

{% block js %}
    {% load staticfiles %}
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'tangram/tangram.min.js' %}"></script>
    <script src="{% static 'leaflet-wicket/wicket.js' %}"></script>
    <script src="{% static 'leaflet-wicket/wicket-leaflet.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/leaflet.geometryutil.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'js/leaflet.draw.js' %}"></script>
    <script>
        $(document).ready(function () {
            var mapzen_tracing = false;
            var waypoints = [];
            var waypoints1 = [];
            var new_stops = {{new_stops|safe}};
            var new_stops_num = new_stops.length;
            var wkt = new Wkt.Wkt();
            var wkt_object;
            var wkt_object_inline;
            var wkt1 = new Wkt.Wkt();
            var wkt1_object;
            var wkt1_object_inline;
            var markers;
            var markers_inline;
            var markers1;
            var markers_inline1;
            var map = L.map('map', {crs: L.CRS.EPSG4326});
            // var ourmap = L.map('maps', {cdr: L.CRS.EPSG4326});
            var original_route;
            var generated_route;
            var new_route;
            var inline_map = L.map('inline-map', {crs: L.CRS.EPSG4326});
            var popup = L.popup();
            var stop_marker = L.marker();

            var RedIconClass = L.Icon.Default.extend({
                options: {
                    iconUrl: "{% static 'img/marker-icon-red.png' %}"
                }
            });

            var BlueIconClass = L.Icon.Default.extend({
                options: {
                    iconUrl: "{% static 'img/marker-icon-blue.png' %}"
                }
            });

            var GrayIconClass = L.Icon.Default.extend({
                options: {
                    iconUrl: "{% static 'img/marker-icon-gray.png' %}"
                }
            });

            var redIcon = new RedIconClass();
            var blueIcon = new BlueIconClass();
            var grayIcon = new GrayIconClass();

            var new_routes = '{{ new_stops_route }}';

            var split = new_routes.split(';');
            var wkt_components = split.length;
            if(wkt_components > 1) {
                var new_set = 'LINESTRING (';
                for (var i = 0; i < wkt_components; ++i) {
                    if (i % 2 === 1) {
                        new_set += split[i].replace('&#39', '') + ',';
                    }
                }
                new_set = new_set.slice(0, -1);
                new_set += ')';
                wkt1.read(new_set);
            }

            wkt.read('{{ trip.geometry.wkt }}');

            // Main map
            // Tangram.leafletLayer({
            //     scene: 'https://raw.githubusercontent.com/tangrams/cinnabar-style/gh-pages/cinnabar-style.yaml?api_key=L9OxhE2tToG23EKZgjKTUA',
            //     attribution: '<a href="https://mapzen.com/tangram" target="_blank">Tangram</a> | \
            //                   <a href="http://www.openstreetmap.org/about" target="_blank">&copy; OSM contributors | \
            //                   <a href="https://mapzen.com/" target="_blank">Mapzen</a>',
            // }).addTo(map);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png?api_key=L9OxhE2tToG23EKZgjKTUA', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);


            // Initialise the FeatureGroup to store editable layers
            var drawnItems = new L.FeatureGroup();

            // Initialise the draw control and pass it the FeatureGroup of editable layers
            var drawControl = new L.Control.Draw({
                edit: {
                    featureGroup: drawnItems
                },
                draw: false,
            });

            map.addLayer(drawnItems);
            map.addControl(drawControl);

            //Triggered when a vector or marker has been updated.
            map.on('draw:edited', function (e) {
                var layers = e.layers;
                layers.eachLayer(function (layer) {
                    //do whatever you want, most likely save back to db
                    bootbox.confirm('Do you want to update the shape file in the database?', function (response) {
                        if (response){
                            // Make API Call
                            var params = {
                                id: "{{ trip.shape.id }}",
                                points: JSON.stringify(layer._latlngs),
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            }

                            update_shape('{% url 'update_shape_ajax' %}', params);
                        }
                    });
                });
            });

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png?api_key=L9OxhE2tToG23EKZgjKTUA', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(inline_map);


            wkt_object_inline = wkt.toObject();
            wkt_object_inline.addTo(inline_map);

            wkt_object = wkt.toObject();
            wkt_object.addTo(drawnItems);
            map.fitBounds(wkt_object.getBounds());

            if(wkt_components > 1) {

                wkt1_object_inline = wkt1.toObject();
                wkt1_object_inline.addTo(inline_map);

                wkt1_object = wkt1.toObject();
                console.log(wkt1);
                console.log(wkt_object);
                wkt1_object.addTo(drawnItems);
                map.fitBounds(wkt1_object.getBounds());
            }


            {% for stop_time in trip.stoptime_set.all|dictsort:'stop_sequence' %}
                waypoints.push({
                    lat: {{ stop_time.stop.point.y }},
                    lon: {{ stop_time.stop.point.x }},
                    id: {{ stop_time.stop.id }},
                    icon: blueIcon,
                    name: "{{ stop_time.stop.name|safe }}",
                    label: "drag",
                    {% if forloop.first or forloop.last %}
                        type: 'break',
                    {% else %}
                        type: 'through',
                    {% endif %}
                });
            {% endfor %}

            for(var i=0; i<new_stops_num; ++i) {
                if(i === 0 || i === new_stops_num - 1) {
                    waypoints1.push({
                        lat: Number(new_stops[i].latitude),
                        lon: Number(new_stops[i].longitude),
                        id: new_stops[i].id,
                        type: 'break',
                        icon: grayIcon,
                        name: 'new',
                        label: ''
                    });
                }
                else {
                    waypoints1.push({
                        lat: Number(new_stops[i].latitude),
                        lon: Number(new_stops[i].longitude),
                        id: new_stops[i].id,
                        type: 'through',
                        icon: grayIcon,
                        name: 'new',
                        label: '',
                    });
                }
            }

            console.log(waypoints1);

            generateRoute('{% url 'get_route_ajax' %}', waypoints);  // DRAW MAP AND PLOT ROUTE
            generateNewRoute('{% url 'get_route_ajax' %}', waypoints1);  // DRAW MAP AND PLOT ROUTE

            $(document).on('markerDragEnd', function (e, data) {
                var old_lat = data.marker.options.oldLatLng.lat;
                var old_lon = data.marker.options.oldLatLng.lng;

                console.log(old_lat);
                console.log(old_lon);

                var message = 'Do you want to make this change permananent on the stop <strong>"' + (data.marker.options.title) + '"</strong>?'
                bootbox.confirm(message, function (response) {
                    if (!response) {
                        data.marker.setLatLng(data.marker.options.oldLatLng);
                        delete data.marker.options.oldLatLng;
                    } else {
                         waypoints.filter(function (item) {
                             if (item.lat === old_lat && item.lon === old_lon) {
                                  console.log("waypoints point");

                                  var point = wkt.fromObject(data.marker).write();
                                  var params = {
                                    pk: waypoints[data.index].id,
                                    point: point,
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                  }
                                  console.log(params);

                                  // Update waypoint after dragging
                                  waypoints[data.index].lat = data.marker.getLatLng().lat;
                                  waypoints[data.index].lon = data.marker.getLatLng().lng;

                                  // Point to be moved
                                  var newWaypoint = waypoints[data.index];

                                  //Delete old point
                                  waypoints.splice(data.index,1);

                                  //Remove Item form stops list
                                  var anchor = $('#current-stops form > ul').children().eq(data.index);
                                  anchor.remove();

                                  //Re-insert at new position
                                  waypoints = insertWaypoint(map, newWaypoint, waypoints);
                                  updateStop('{% url 'update_stop_ajax' %}', params);
                                  generateRoute('{% url 'get_route_ajax' %}', waypoints);

                                  // Save on behalf of the user
                                  $('#current-stops form').submit();
                             }
                         });
                         waypoints1.filter(function (item) {
                             if (item.lat === old_lat && item.lon === old_lon) {
                                  bootbox.prompt({
                                      size: "small",
                                      title: "Provide a name for the stop",
                                      callback: function(result){
                                          if(!result) {
                                              data.marker.setLatLng(data.marker.options.oldLatLng);
                                              delete data.marker.options.oldLatLng;
                                          }
                                          else {
                                              var stop_name = result;

                                              var point = wkt.fromObject(data.marker).write();
                                              var params = {
                                                  pk: waypoints1[data.index].id,
                                                  name: stop_name,
                                                  point: point,
                                                  feed_id: {{ feed_id }},
                                                  csrfmiddlewaretoken: '{{ csrf_token }}',
                                              };
                                              console.log(params);

                                              // Update waypoint after dragging
                                              item.lat = data.marker.getLatLng().lat;
                                              item.lon = data.marker.getLatLng().lng;
                                              console.log(item);

                                              //Delete old point
                                              waypoints1.splice(data.index,1);

                                              // confirm new stop
                                              confirmStop('{% url 'confirm_stop_ajax' %}', params);
                                          }
                                      }
                                  });
                                  //
                                  // // Point to be moved
                                  // var newWaypoint = item;
                                  //
                                  // //Delete old point
                                  // console.log(waypoints1);
                                  // waypoints1.splice(data.index,1);
                                  // console.log(waypoints1);

                                  //Remove Item form stops list
                                  // var anchor = $('#current-stops form > ul').children().eq(data.index);
                                  // anchor.remove();

                                  //Re-insert at new position
                                  // waypoints1 = insertWaypoint(map, newWaypoint, waypoints1);
                                  // updateStop('{% url 'update_stop_ajax' %}', params);
                                  // generateRoute('{% url 'get_route_ajax' %}', waypoints1);

                                  // Save on behalf of the user
                                  // $('#current-stops form').submit();
                             }
                         });
                    }
                });
            });

            $(document).on('routeGenerated', function (e, data) {
                console.log(data);
                // Clean up existing route
                if (generated_route) {
                    map.removeLayer(generated_route);
                }

                // Plot generated route
                generated_route = data.route;
                console.log(generated_route);
                if (mapzen_tracing) {
                    generated_route.addTo(map);
                }

                // Clean up existing stop markers
                if (markers) {
                    $.map(markers, function (marker) {
                        map.removeLayer(marker);
                    });
                }

                // Plot updated stop markers
                markers = getMarkersFromWaypoints(waypoints);
                plotMarkers(markers, map);

                //update inline markers
                markers_inline = getMarkersFromWaypoints(waypoints);
            });

            $(document).on('newRouteGenerated', function (e, data) {
                console.log("new route...");
                console.log(data);
                // Clean up existing route
                if (new_route) {
                    map.removeLayer(new_route);
                }

                // Plot generated route
                new_route = data.route;
                console.log(new_route);
                // if (mapzen_tracing) {
                //     new_route.addTo(map);
                // }

                new_route.addTo(map);

                // Clean up existing stop markers
                if (markers1) {
                    $.map(markers, function (marker) {
                        map.removeLayer(marker);
                    });
                }

                // Plot new updated stop markers
                markers1 = getMarkersFromWaypoints(waypoints1);
                plotMarkers(markers1, map);

                //update new inline markers
                markers_inline1 = getMarkersFromWaypoints(waypoints1);
            });

            $('#stop-form').on('submit', function (event) {
                var stop_name = $('#stop-name').val().trim();

                if (!stop_name) {
                    alert('Stop name cannot be empty');
                    return false;
                }

                if (!stop_marker.getLatLng()) {
                    alert('You need to select a stop location on the map');
                    return false;
                }

                var stop_point = wkt.fromObject(stop_marker);
                var params = {
                    stop_id_prefix:  '{{ corridor }}' + $('#stop-designation').val() + '{{ inbound_status }}',
                    stop_id_suffix: _.join(_.shuffle($('#stop-name').val().replace(/ /g, '')), '').substr(0, 3).toUpperCase(),
                    name: $('#stop-name').val().trim(),
                    point: stop_point.write(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    feed_id: {{ feed_id }}
                };
                add_stop('{% url 'add_stop_ajax' %}', params);
                event.preventDefault();
            });

            $(document).on('addStop', function (e, data) {
                var newWaypoint = {
                    lat: data.stop.lat,
                    lon: data.stop.lon,
                    name: data.stop.name,
                    id: data.stop.id,
                    type: 'through',
                    icon: redIcon
                }

                waypoints = insertWaypoint(map, newWaypoint, waypoints);

                // Refresh map after updating waypoints
                generateRoute('{% url 'get_route_ajax' %}', waypoints);

                // Save on behalf of the user
                $('#current-stops form').submit();

            });

            $('#save-stop').on('click', function () {
                $('#stop-form').submit();
            });

            $('#current-stops').on('click', 'button.close', function (event) {
                event.preventDefault();

                var parent = $(this).parent();
                var stop_id = parent.find('input:hidden[name=stop_id]').val();
                var stop_name = parent.find('a').html()
                var index = $('button.close').index($(this)) - 1;
                if (stop_id) {
                    bootbox.confirm('Do you want to remove <strong>"' + stop_name + '"</strong> from this trip?', function (response) {
                        if (response) {
                            var message = '<strong>"' + stop_name + '"</strong> removed from this trip. <br/>';
                            message += 'Click on "Save Stops" to make the change permanent.'

                            waypoints.splice(index, 1);
                            parent.parent().remove();

                            $(document).trigger('success', {'message': message})

                            bootbox.confirm('Do you want to remove <strong>"' + stop_name + '"</strong>  from the database?', function (response) {
                                if (response) {
                                    var params = {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        pk: stop_id
                                    }
                                    delete_stop('{% url 'delete_stop_ajax' %}', params);
                                }
                            });
                        }
                    });
                }
            });

            // Work on inline map
            inline_map.on('click', function (event) {
                if (!$('#stop-name').val().trim()) {
                    alert('Enter A Stop name');
                } else {
                    popup
                            .setLatLng(event.latlng)
                            .setContent("You added '" + $('#stop-name').val().trim() + "' on the map at " + event.latlng.toString());
                    stop_marker.setLatLng(event.latlng);
                    stop_marker.addTo(inline_map);
                    stop_marker.bindPopup(popup);
                    stop_marker.setIcon(redIcon);
                }
            });

            $('#stop-modal').on('shown.bs.modal', function (event) {
                inline_map.invalidateSize.bind(inline_map);
                inline_map.fitBounds(wkt_object_inline.getBounds());
                inline_map.setZoom(14);

                // Clean up existing stop markers
                if (markers_inline) {
                    $.map(markers_inline, function (marker) {
                        inline_map.removeLayer(marker);
                    });
                }

                // Plot updated stop markers
                markers_inline = getMarkersFromWaypoints(waypoints);
                plotMarkers(markers_inline, inline_map);

                // Plot updated stop markers
                markers_inline1 = getMarkersFromWaypoints(waypoints1);
                plotMarkers(markers_inline1, inline_map);
            });

            $('.update-stop-list').on('click', function (e) {
                var params = {
                    inbound_status: '{{ inbound_status }}',
                    corridor: '{{ corridor }}',
                }
                fetch_and_populate_stops('{% url 'get_stop_list_ajax' feed_id=feed_id %}', params, $(this).data('target'));
            });

            $('.update-parent-stop-list').on('click', function (e) {
                var params = {};
                fetch_and_populate_stops('{% url 'get_parent_stop_list_ajax' feed_id=feed_id %}', params, $(this).data('target'));
            });

            $('.add-stop-to-list').on('click', function () {
                var stop = $('#stops :selected');

                if (stop.val()) {
                    var params = {
                        lat: stop.data('lat'),
                        lon: stop.data('lon'),
                        name: stop.text(),
                        id: stop.val(),
                    }
                    $(document).trigger('addStop', {stop: params});
                }
            });
            // End work on inline map

            $('#mapzen-switch').bootstrapSwitch();
            $('#mapzen-switch').on('switchChange.bootstrapSwitch', function (event, state) {
                mapzen_tracing = state;
                if (generated_route) {
                    if (state) {
                        generated_route.addTo(map);
                    } else {
                        map.removeLayer(generated_route);
                    }
                }

                if(!(generated_route.getLatLngs().length > 0) && state){
                    var message = "Mapzen Valhalla could not trace this route <br/>";
                        message += "It is possible that the route as is is <strong>outdated and no longer valid</strong>. <br/>";
                        message += "Do confirm this with on-ground staff / matatu operators";
                    bootbox.alert(message)
                }
            });

            $('#verified-switch').bootstrapSwitch({
                state: {{trip.is_approved|lower}} ,
                onText: 'YES',
                offText: 'NO'
            });
            $('#verified-switch').on('switchChange.bootstrapSwitch', function (event, state) {
                var params = {
                    pk: {{ trip.id }},
                    is_approved: state ? 1 : '',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                }
                updateTrip('{% url 'update_trip_ajax' %}', params);
            });
        });
    </script>
{% endblock %}


{% block content %}
    {% if error_message %}
        <div class="alert-message alert {{ alert_type }} alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            {{ error_message }}
        </div>
    {% endif %}

    <div class="row">
        <div class="modal fade" id="stop-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-label">Add Stop</h4>
                    </div>
                    <div class="modal-body">
                        <form id="stop-form">
                            <div class="form-group">
                                <label for="stop-name" class="control-label">Name:</label>
                                <input type="text" class="form-control" id="stop-name" name="stop-name" required>
                            </div>
                            <div class="form-group">
                                <label for="stop-designation" class="control-label">Designation:</label>
                                <select class="form-control" id="stop-designation" name="stop-designation">
                                    <option value="1">Designated</option>
                                    <option value="0">Undesignated</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="parent-stop" class="control-label">Parent Stop:</label>
                                <select class="form-control" id="parent-stop" name="parent-stop">
                                    <option value="">--</option>
                                </select>
                                <button type="button" class="btn btn-primary update-parent-stop-list"
                                        data-target="#parent-stop">Update Stop List
                                </button>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="lat" id="stop-latitude">
                                <input type="hidden" name="lon" id="stop-longitude">
                                <input type="hidden" name="corridor" value="{{ corridor }}">
                                <input type="hidden" name="inbound_status" value="{{ inbound_status }}">
                            </div>
                            <div id="inline-map">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-stop">Save Stop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="alert"></div>
        <h2 class="sub-header"> Route: {{ trip.route.desc }} | Destination: {{ trip.headsign }}</h2>
        <div class="row">
             <span class="pull-right">
                <form class="form-inline">
                    <div class="checkbox">
                        <label>
                           <strong>Mapzen Tracing:</strong> <input type="checkbox" id="mapzen-switch">
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                           <strong>Trip Verified:</strong> <input type="checkbox" id="verified-switch" {{user.is_staff|yesno:","}}>
                        </label>
                    </div>
                    <a href="{% url 'route_detail' feed_id=feed_id agency_id=agency_id pk=route_id %}"
                       class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Back to Route
                    </a>
                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#stop-modal">
                        Add Stop
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </form>

            </span>

        </div>

        <div id="map-container" class="col-lg-8">
            <div id="map">

            </div>
        </div>


        <div id="current-stops" class="col-lg-3 col-lg-offset-9">
            <div class="row" id="current-stops_list">
                <h3>Current Stops </h3>
                <form method="post">
                    <ul>
                        {% for stop_time in trip.stoptime_set.all|dictsort:'stop_sequence' %}
                            <li>
                                <div class="form-group">
                                    <a href="#" class="{{user.is_staff|yesno:"editable,"}}" id="name" data-type="text"
                                       data-pk="{{ stop_time.stop.id }}" data-url="{% url 'update_stop_ajax' %}"
                                       data-title="Enter Stop Name"> {{ stop_time.stop.name }} </a>
                                    <input type="hidden" name="stop_id" value="{{ stop_time.stop.id }}">

                                    {% if user.is_staff %}
                                    <button type="button" class="close" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                        {% csrf_token %}
                    </ul>
                    <button type="submit" class="btn btn-success {{user.is_staff|yesno:",disabled"}}">Save Stops&nbsp;<i
                            class="glyphicon glyphicon-plus"></i></button>
                </form>
            </div>
            <div class="row">
                <h4>Select a stop from an existing Route </h4>
                <button type="button" class="btn btn-primary btn-sm update-stop-list pull-left {{user.is_staff|yesno:",disabled"}}" data-target="#stops">
                    &nbsp;<i
                        class="glyphicon glyphicon-refresh"></i></button>
                <select id="stops" class="col-sm-7 col-md-8 input-sm {{user.is_staff|yesno:",disabled"}}">
                    <option>--</option>
                </select>
                <button type="button" class="btn btn-success btn-sm add-stop-to-list {{user.is_staff|yesno:",disabled"}}" data-target="#stops">&nbsp;<i
                        class="glyphicon glyphicon-plus"></i></button>

            </div>
        </div>
    </div>
{% endblock %}